.import {
    background: url(background-images/import-img.png) center/cover no-repeat;
    margin: 1rem 4rem;
    min-height: 350px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.import-content p {
    font-size: 2rem;
    font-weight: 600;
}

.import-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 2rem;
}

.import-info input,
.email-input input {
    padding: 1rem;
    width: 100%;
    font-family: inherit;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.import-heading p {
    margin-bottom: 1rem;
}

.email-input {
    width: 100%;
}

.import-info {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.import-content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    width: 50%;
}